.history-container {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  margin-left: 15px;
  border: 1px solid;
  width: 100%;
}

.table-head {
  border: 1px solid;
}

.table-body {
  text-align: center;
}
