.history-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 600px;
}

.table-head {
  background-color: #282c34;
  color:rgba(255, 255, 255, 0.5);
}

.table-body {
  text-align: center;
}

.table-date-col {
  width: 230px;
}