.tech-container {    
  margin: 15px;  
  height: 310px;
  width: 220px;
}

.tech-back-container {
  border: 2px solid  $green;
  position: absolute;
  border-radius: 10px;
  width: 210px;  
  height: 300px;
}

.tech-front-container {
  background-color: $green;
  position: absolute;
  margin: 10px;
  padding: 20px 10px;  
  border-radius: 10px;
  width: 210px;
  height: 300px;
  display: flex;
  flex-direction: column;  
  align-items: center;  
}

.tech-img {
  height: 100px;
  width: 100px;
}

.tech-title {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  font-size: 16px;
}

.tech-release {
  font-family: 'Roboto', sans-serif;
}

.tech-description {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
}

.tech-catalog {
  padding: 5px 115px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
