.title {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-top: 50px;
  margin-left: 100px;
}

.title:before {
  content: '';
  background: url(img/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block; 
  height: 90px;
  width: 60px;  
  position: absolute;
  left: 55px;
  z-index: -1;
}
