.title {
  display: flex;
  align-items: center;
  padding-left: 50px;    
}

.title:before {
  content: '';
  background: url(img/triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block; 
  height: 90px;
  width: 60px;  
}

.title-text {
  font-size: 24px;
  position: absolute;
  left: 95px;
}
